<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Login</title>
</head>

<body>
    <main class="login__container">
        <section class="login__form">
            <div class="title__register">
                <span>Aún no tienes una cuenta? <a href="">Registrate</a></span>
            </div>
            <div class="form__container">
                <form action="">
                    <div class="input_login">
                        <input type="email" placeholder="Email">
                    </div>
                    <div class="input_login">
                        <input type="password" placeholder="Contraseña">
                    </div>
                    <div class="check_container">
                        <div class="check_container_input">
                            <input type="checkbox">
                        </div>
                        <div class="check_container_label">
                            <p>Recordar e este dispositivo</p>
                        </div>
                    </div>

                    <div class="forgot_password_container">
                        <a href="#">Olvidaste tu contraseña?</a>
                    </div>

                    <div class="btn__ingresar_container">
                        <a href="../views/home.html" class="btn_ingresar">Ingresar</a>
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>

</html>